body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#box{
    background-color: rgb(153, 209, 209);
    border-radius: 20px;
    text-align: center;
    width: 30%;
    cursor: pointer;
}

p{
    padding: 3px;
}